# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environnements
env/
venv/
.env
.env.local

# Django
*.sqlite3
*.log
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
